.bash_history
.bash_profile
.cache/
.config/
.dia/
.gitconfig
.minttyrc
.sam-ba.historysource
.ssh/
.tmux.conf
.viminfo
.wget-hsts
_sam-ba.rc
_viminfo
en.prepl
en.pws
psv.ini
tmp.sh
.emacs
.emacs.d/
tmp.txt
JSON_ERROR_LIST.txt
videos/
.inputrc
.profile
.vimrc
